doctype html 
html
    head 
        title Home page  
            
    body 
        h1 Home 

        #container 
            button(id="userBtn")
                a(href="/users") Users
            button(id="postBtn")
                a(href="/posts") Posts
            button(id="loginBtn")
                a(href="/login") Login
        br
        // - #container2
            form(action="/download-image")
                button(id="imgBtn" type="submit")="Download"
            