doctype html 
html
    head 
        title Home page  
            
    body 
        h1 Home 
        
        nav
            button(id="userBtn")
                a(href="/api") Users   
            button(id="loginBtn")
                a(href="/api/login") Login
        