doctype html 
html
    head 
        title Home page 
        style.
            a:link { text-decoration: none; } 
            
    body 
        h1 Home 
        
        nav
            button(id="dataBtn")
                a(href="/api") Data   
            button(id="loginBtn")
                a(href="/api/login") Login
        