doctype html 
html 
    head 
        title Login 
        link(rel="stylesheet" href="/login.css") 
    body 
        #container 
            form(action="/login" method="POST")
                h1 Login 
                label Username: 
                input(type="text" name="username")
                br
                label Password : 
                input(type="password" name="password")
                br
                input(type="submit" value="SUBMIT")

        br
        #container2
            button(id="userBtn")
                a(href="/users") Users
            button(id="postBtn")
                a(href="/posts") Posts