doctype html 
html 
    head 
        title Login 
        link(rel="stylesheet" href="/login.css")
        style.
            a:link { text-decoration: none; }  
    body 
        div(id="main")
            

        #container 
            div(id="main" style="margin-top:100px")
                button(id="postBtn")
                    a(href="http://localhost:3000") Home
                button(id="dataBtn")
                    a(href="/api") Data 
                
            form(action="/login" method="POST")
                br
                h1 Login 
                label Username 
                input(type="text" name="username")
                br
                label Password  
                input(type="password" name="password")
                br
                input(type="submit" value="SUBMIT")
        