doctype html 
html 
    head 
        title Post Page  
    body 
        h1 Posts by User 
            button(id="userBtn")
                a(href="/users") Users
            button(id="loginBtn")
                a(href="/login") Login