doctype html 
html 
    head 
        title User's Page 
    body 
        h1 User's Page
            button(id="postBtn")
                a(href="/posts") Posts
            button(id="loginBtn")
                a(href="/login") Login