doctype html 
html 
    head 
        title Data Page
        style.
            a:link { text-decoration: none; }

    body 
        h1 Data
        div(id="container" style="display:flex;")
            div(id="users")
                ul 
                    li Find all users: 
                        button(id="userGetBtn")
                            a(href="/api/users") GET
                    br
                    li Create a user: 
                        form(action="/api/users" method="POST")
                            input(type="text" id="name" name="name" placeholder="Enter name")
                            br
                            input(type="text" id="username" name="username" placeholder="Enter username")
                            br
                            input(type="email" id="email" name="email" placeholder="Enter email")
                            input(type="submit" value="POST")
                    br
                    li Update a user: 
                        form(action=`/api/users` method="PATCH")
                            input(type="number" id="id" name="id" min="1" placeholder="Enter user id")
                            br
                            input(type="text" id="name" name="name" placeholder="Enter name")
                            br
                            input(type="text" id="username" name="username" placeholder="Enter username")
                            br
                            input(type="email" id="email" name="email" placeholder="Enter email")
                            input(type="submit" value="PATCH")
                    br
                    li Delete a user: 

            div(id="posts")
                ul 
                    li Find all posts: 
                        button(id="userGetBtn")
                            a(href="/api/posts") GET
                    br
                    li Create a post: 
                        form(action="/api/posts" method="POST")
                            input(type="number" id="userId" name="userId" min="1" placeholder="Enter user id")
                            br
                            input(type="text" id="title" name="title" placeholder="Enter title")
                            br
                            textarea(id="content" name="content" rows="3" cols="20" placeholder="Enter content")
                            input(type="submit" value="POST")
                    br
                    li Filter Posts by User ID: 
                        form(action="/api/posts" method="GET")
                            input(type="number" id="userId" name="userId" min="1" placeholder="Enter user id")
                            input(type="submit" value="GET")
                    br

            div(id="comments")
                ul 
                    li Get Comments:  
                        button(id="commentGetBtn")
                            a(href="/api/comments") GET  
                